<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.timeHotel.mapper.FriendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xm.timeHotel.pojo.Friend">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="gid" property="gid" />
        <result column="myid" property="myid" />
        <result column="status" property="status" />
    </resultMap>
    
    <resultMap type="com.xm.timeHotel.pojo.Friend"  id="UserMap"  extends="BaseResultMap">
    	<association property="user" javaType="com.xm.timeHotel.pojo.User">
   			
   				<id column="fid" property="id" />
		        <result column="username" property="username" />
		        <result column="icon" property="icon" />
   				<result column="signature" property="signature"/>
   			</association>
    </resultMap>
    
    <select id="selectUser"  resultMap="UserMap">
    select a.id as fid,a.username,a.signature,a.icon,b.* from user a 
    left join friend b on a.id=b.uid 
    left join groups c on c.uid=#{id} and c.id=b.gid 
    where a.email=#{email}
    </select>
    
    <select id="getAddFriendList" resultMap="UserMap">
    select a.id as fid,a.username,a.signature,a.icon,b.* from friend b,user a where b.uid=a.id and b.myid=#{myid}
    </select>

</mapper>
